.container {
  display: flex;
  justify-content: space-between; /* Adjusts spacing between the divs */
  gap: 20px; /* Adds space between the divs */
}

.container > div {
  flex: 1; /* Ensures all divs are of equal width */
  padding: 20px; /* Adds some padding inside each div */
  background-color: #f0f0f0; /* Light gray background color */
  border: 1px solid #ccc; /* Adds a border */
  border-radius: 5px; /* Rounds the corners */
  margin-bottom: 20px;
}

.barchart{
  flex: 1; /* Ensures all divs are of equal width */
  padding: 20px; /* Adds some padding inside each div */
  background-color: #f0f0f0; /* Light gray background color */
  border: 1px solid #ccc; /* Adds a border */
  border-radius: 5px; /* Rounds the corners */
  margin-bottom: 20px;
}

h1{
  font-size: 20px;
}