/* src/components/Transactions.css */

.transactions-container {
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input, .month-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.transactions-table th, .transactions-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.transactions-table th {
    background-color: #ffcc66;
    color: black;
    text-align: left;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-btn {
    padding: 10px 20px;
    border: none;
    background-color: #ffcc66;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
